.export-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 65px 0;
  background: linear-gradient(
    rgb(245, 250, 255) 1.50267%,
    rgb(230, 244, 255) 53.7532%,
    rgb(255, 255, 255) 100%
  );
  width: 100%;
}

.lesson-plan {
  width: 8.5in;
  background: white;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: rgba(193, 200, 205, 0.4) 2px 4px 4px 2px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-top: 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  padding-left: 20px;
}

.export-button {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: #aaaaaa6c;
  cursor: pointer;
  margin-top: 25px;
  text-decoration: none;
  color: black;
}

.export-button:hover {
  background-color: #aaaaaab0;
  cursor: pointer;
}
.pdf-viewer {
  width: 100%;
  max-width: 850px; /* Match PDF width */
  height: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  box-shadow: rgba(193, 200, 205, 0.4) 2px 4px 4px 2px;
}
