.lesson-plan-container {
  display: flex;
  background: linear-gradient(#f4f8fb, #ffffff);
  min-width: 370px;
  justify-content: center;
  margin: 45px 0;
}

.lesson-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-width: 50%;
  width: 700px;
  border: 1px solid #d1dce5;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: rgba(0, 90, 158, 0.2) 2px 4px 6px;
  margin-top: 40px;
  padding: 20px;
}

.input-bullet-container {
  display: flex;
  flex-direction: row;
  padding: 0.1rem;
  width: 100%;
  overflow: visible;
  justify-self: center;
  justify-content: center;
}

.inputs {
  width: 80%;
  size: small !important;
  background-color: white;
}

.remove-button {
  margin-left: 0.5rem;
  font-size: 16px !important;
  align-self: center;
}

.remove-button:hover {
  cursor: pointer;
}

.add-row {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: #005a9e;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  border: none;
}

.add-row:hover {
  background-color: #007acc;
  cursor: pointer;
}

.circle-icon {
  font-size: 8px !important;
  align-self: center;
  margin-right: 0.5rem;
}

.numbers {
  font-size: 14px !important;
  align-self: center;
  margin-right: 0.5rem;
}

.header {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

.footer {
  align-self: center;
  margin-left: 0.5rem;
}

.name-date-subject {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 80%;
  justify-content: center;
}

.name-date-subject-elements {
  margin: 10px !important;
}
