.start-page-container {
  display: flex;
  background: linear-gradient(#f4f8fb, #ffffff);
  min-width: 370px;
  justify-content: center;
  margin: 45px 0;
}

.start-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-width: 50%;
  width: 700px;
  border: 1px solid #d1dce5;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: rgba(0, 90, 158, 0.2) 2px 4px 6px;
  margin-top: 40px;
  padding: 20px;
}
.inputs {
  width: 80%;
  size: small !important;
  background-color: white;
}

.generate-button {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  background-color: #005a9e;
  padding: 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  margin: 10px;
  color: white;
}

.generate-button:hover {
  background-color: #007acc;
}

.start-header {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grade-length-container {
  display: flex;
  flex-direction: row;
}

.create-header {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

.create-subheader {
  font-size: 12px;
  margin: 10px 40px 20px 40px;
  color: #5d6975;
}

.circular-progress-bar {
  position: sticky;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
